.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.barcode-nomor {
    padding-top: 10px;
}

@media print {
    .btn-print {
    display: none;
   }
}

@media print, screen {

    .panel-default {
        border-color: #333333 !important;
    }

    .panel > .panel-heading {
        background-image: none !important;
        background-color: #ddd !important;
        border-color: #333333 !important;
    }


    .table {
      border: 0.5px solid #333333 !important;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
       border: 0.5px solid #333333 !important;
    }
}